---
#
# Ansible managed
#

name: Ansible Molecule

on:
  push:
    branches:
      - master
      - main
      - testing
      - dependabot/**
    paths-ignore:
      - '**/README.md'
      - '**/CHANGELOG.md'
    tags_ignore:
      - '*'
  pull_request:
  pull_request_target:
  schedule:
    - cron: '5 3 3/3 * *'

  workflow_dispatch:

permissions: write-all

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Role
        uses: actions/checkout@v4
      - name: Run Ansible-lint
        uses: ansible/ansible-lint@v25.9.2
  test:
    needs:
      - lint
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        distro:
          - image: "docker-molecule-images"
            tag: "alpine-openrc"
          - image: "docker-molecule-images"
            tag: "amazonlinux2023"
          - image: "enterpriselinux"
            tag: "8"
          - image: "docker-molecule-images"
            tag: "buster"
          - image: "docker-molecule-images"
            tag: "bullseye"
          - image: "docker-molecule-images"
            tag: "38"
          - image: "docker-molecule-images"
            tag: "39"
          - image: "docker-molecule-images"
            tag: "40"
          - image: "docker-molecule-images"
            tag: "opensuse"
          - image: "docker-molecule-images"
            tag: "ubuntu_latest"
          - image: "docker-molecule-images"
            tag: "focal"
          - image: "docker-molecule-images"
            tag: "jammy"
          - image: "docker-molecule-images"
            tag: "noble"
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          path: ansible-role-cron

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Configure Docker for systemd
        run: |
          sudo mkdir -p /etc/docker
          echo '{
            "features": {
              "buildkit": true
            },
            "exec-opts": ["native.cgroupdriver=systemd"]
          }' | sudo tee /etc/docker/daemon.json
          sudo systemctl restart docker || true
      - name: Install Docker
        uses: docker/setup-buildx-action@v3

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install ansible molecule molecule-plugins[docker] docker
      - name: Test with molecule
        run: |
          cd ansible-role-cron
          molecule test
        env:
          PY_COLORS: 1
          ANSIBLE_FORCE_COLOR: 1
          ANSIBLE_ROLES_PATH: ~/.ansible/roles:${GITHUB_WORKSPACE}/ansible-role-cron
          image: ${{ matrix.distro.image }}
          tag: ${{ matrix.distro.tag }}

  dependabot:
    needs:
      - lint
      - test
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' || github.actor == 'buluma' && github.event_name == 'pull_request'}}
    steps:
      - uses: "actions/checkout@master"
      - name: Dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Approve a PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Merge Dependabot PR"
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
